.container {
    /* text-align: center */
}

.text {
    text-align: center;
    /* display:inline-block;
    width: 800px;
    height:50px;*/
} 

.text-block {
    display: inline-block;
    width: 500px;
    text-align: center§;
}